*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
}

.grid-container > *{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template: 
        "logo-nav-container" 200px
        "personal-info" auto 
        "contenedor-targetas" auto
        "section-contact" auto
        "blog-ppal" auto
        "content-blogs" auto
        "main" auto
        "footer" 100px;


    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Ajusta la altura según tus necesidades */
        position: relative;
        overflow: hidden;
        grid-area: main;
    }

    .bg-video{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        position: absolute; /* permite sobreponer */
        z-index: -1; 
    }

    .main .capa {
        color: #fff; 
        
        .title{
            font-size: 4rem;
        }

        strong{
            color: rgb(233, 90, 90);
        }
        .sub-title{
            font-size: 1.2rem;
        }

        #input_promo_email{ 
            background: none;
            color: whitesmoke;
            padding: 12px;
            border: 0.2px solid rgb(255, 255, 255);
        }

    }

    .footer{
        grid-area: footer;
        background-color: #212F3D;
        color: white;
    } 

    .footer p{
        margin-top: 15px;
    }

    .blog-ppal{
        grid-area: blog-ppal;
        margin: 2% 25%;
    }

    .main-article{
        margin: 3% 0;
        border: 1px solid black;
    }

    .content-blogs{
        margin: 2% 25%;
        grid-area: content-blogs;
        display: grid;
        gap: 0.8em;
        grid-template-columns: repeat(3, 1fr);
    }
    

    /* tablet */
    @media (min-width:768px){
        grid-template: 
        "logo-nav-container" 100px
        "personal-info" auto 
        "contenedor-targetas" auto
        "section-contact" auto
        "blog-ppal" auto
        "content-blogs" auto
        "main" auto
        "footer" 100px;
    }

    /* desktop */
    @media (min-width:992px){
        grid-template:

        "logo-nav-container" 150px
        "personal-info" auto 
        "contenedor-targetas" auto
        "section-contact" auto
        "blog-ppal" auto
        "content-blogs" auto
        "main" auto
        "footer" 100px;
    }
    

    .personal-info{
        grid-area: personal-info;
        background-color: #1B2631;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-personal h1{
        font-size: 2.5rem;;
        color: rgb(233, 90, 90);
    }

    .texto-personal p{
        color: white;
        font-size: 2rem;;
    }

    .texto-personal{
        text-align: start;
        width: 30%;
    }

    .container-img-personal{
        width: 50%;
    }



    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; 
        text-align: justify;
    }
    
    .card h1 {
        margin-bottom: 10px; 
        color: rgb(233, 90, 90);
    }
    
    .card img {
        max-width: 30%; 
    }

    .card .contenido-texto{
        width: 30%;
    }
    
    .contenido-texto h1 {
        margin-top: 20px; 
    }
    
    .contenedor-targetas .card:nth-child(2) {
        flex-direction: row-reverse;
    }

   

    .section-contact {
        grid-area: section-contact;
        background-color: rgb( 230,240,255 );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
}

.btn-main{
    margin-top: 25px;
    padding: 14px;
    background-color: rgb(233, 90, 90);
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
}

.btn-main:hover{
    cursor: pointer;
    color: whitesmoke;
    background: none;
    border: 2px solid rgb(255, 255, 255);
}

img{
    max-width: 100%; 
    height: auto;
    /* height: 400px;
    width: 400px; */
}

.logo-nav-container{
    display: flex;
    grid-area: logo-nav-container;
    background-color: #1B2631;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #212F3D;
}

.logo-nav-container img {
    height: 70px;
    width: 70px;
    float: left;
}

.logo-nav-container h1 {
    font-size: large;
    float: right;
    margin: 20px;
    color: whitesmoke;
}

.logo-nav-container > .navbar{
    background-color: rgb(233, 90, 90);
}

.navbar ul {
    color: white;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease;
}


::placeholder {
    color: whitesmoke;
  }


li{
    border: 1px solid #ddd;
    padding: 10px 10px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li:hover {
    background-color: rgb(240, 120, 120);
    cursor: pointer;
}

.post {
    border: 1px solid black;
    transition: all 0.3s ease;
    background-color: whitesmoke;
    cursor: pointer;
}

.post:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

a{
    border: 1px solid red;
}

.tiempo-compartir{
    display: flex;
    gap: 1rem;
    font-size: small;
} 

.tiempo-compartir > i {
    margin-left: 35%;
}

hr{
    margin-bottom: 20px;
}

.fa-heart{
    color: red;
}

.container-emojis {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.right-element {
    margin-left: auto; /* Esto empuja el elemento hacia la derecha */

}

.inter-box{
    font-size: medium;
    text-align: justify;
    padding: 30px;
}

.inter-box > h1, .tiempo-compartir{
    margin-bottom: 15px;
}

.inter-box > .t-lectura{
    margin-bottom: 50px;
}

.container-contact{
    display: flex; 
    justify-content: center;
}

.form-contacto{
    width: 50%;
    background-color: bisque;
    padding: 100px;
    text-align: left;
}

.form-contacto h1{
    text-align: center;
}

.form-contacto > h1{
    margin-bottom: 30px;
}

.form-items{
    margin: 0 15%;/* eje y - eje x */
    display: flex;   
    height: 600px;
    flex-direction: column;
}


.form-contacto > .form-items > .btn-main{
    margin: 2em 30% 0;
}

.container-img-contact{
    width: 50%;
    background-color: rgb(165, 112, 47);
}

.container-img-contact > h1{
    margin-top: 100px;
}

.container-img-contact> * {
    margin-bottom: 30px;
}

.full-name {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 45%; /* Ajusta el ancho según sea necesario */
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input, input {
    padding: 5px;
}

.form-items textarea {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Establece la altura deseada */
    resize: none; /* Evita que el usuario pueda redimensionar el textarea */
    box-sizing: border-box;
}